{% extends 'template-admin.html.twig' %}

{% block title %}Index Evenement{% endblock %}

{% block body %}

<br><br>

<div class="d-flex justify-content-center">
    <h1>Index évènements</h1>
</div>

    <br><br>

<div class="container">
    <button id="help-button" type="button" class="btn btn-secondary"><p id="help">Besoin d'aide ?</p></button>    
</div>

<div class="container menu-help">
    <br><br>
    <p>Utilisation:</p>
    <p>Sur cette page vous retrouvez la liste des évènements passés et à venir présents sur le site.<br>
    La colonne "Titre" indique le nom de l'évènement.<br>
    La colonne "Contenu évènement" indique le texte de présentation lié à l'évènement.<br>
    La colonne "Image" affiche l'image associée à l'évènement.<br>
    La colonne "Catégorie" indique le statut de l'évènement. La valeur "A_VENIR" indique que l'évènement sera<br>
    affiché sur le site dans la section "Evènement à venir". La valeur "E_PASSE" indique l'évènement sera affiché<br>
    sur le site dans la section "Evènement passés".<br>
    La colonne "Date évènement" indique le texte lié la date et l'heure auxquelles l'évènement est prévu ou s'est déroulé.<br>
    La section "Adresse évènement" indique le texte lié à la location de l'évènement.</p>
    
    <p>Le bouton "Voir" dans la colonne "actions" permet d'afficher sur la page uniquement les informations liées à l'évènement choisi.<br>
    La colonne "Description évènement" indiquant le second texte lié à l'évènement n'est visible que dans cette section.<br>
    Le bouton "Modifier" dans la colonne "actions" permet d'accéder à un formulaire de modification des différentes informations liées à <br>
    l'évènement correspondant, incluant le statut de l'évènement, permettant ainsi de changer la section dans laquelle il s'affiche sur le site. <br>
    Le bouton "Supprimer dans la colonne "actions" permet de supprimer du tableau l'évènement correspondant.<br>
    Attention ! Cette manipulation est irréversible, l'évènement sera définitivement perdu, et n'apparaitra plus sur le site. Si vous souhaitez<br>
    qu'il apparaisse à nouveau, il faudra le rentrer manuellement dans la base de données via le bouton "Créer nouveau".<br>
    Le bouton "Créer nouveau" en bas de cette page permet d'accéder à un formulaire de création d'un nouvel évènement, sur lequel il vous sera <Br>
    demandé de rentrer les informations liées à cet évènement. Une fois créé, l'évènement apparaitra sur le site dans la section choisie.</p>
</div>

    <br><br>

<div class=" d-flex justify-content-center">
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>Titre</th>
                <th>Contenu évènement</th>
                <th>Image</th>
                <th>Catégorie</th>
                <th>Date évènement</th> 
                <th>Adresse évènement</th>              
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td class="font-weight-bold">{{ event.titre }}</td>
                <td>{{ event.content }}</td>
                <td><img src="{{ asset(event.imageSrc) }}" class="img-fluid"></td>
                <td>{{ event.category }}</td>
                <td>{{ event.dateEvent}}</td>   
                <td>{{ event.adress }}</td>             
                <td>
                    <button type="button" class="btn btn-secondary"><a href="{{ path('event_show', {'id': event.id}) }}" class="text-light">Voir</a></button>
                    <hr>
                    <button type="button" class="btn btn-secondary"><a href="{{ path('event_edit', {'id': event.id}) }}" class="text-light">Modifier</a></button>
                    <hr>
                    {{ include('event/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun évènement enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-secondary"><a href="{{ path('event_new') }}" class="text-light">Créer nouveau</a></button>
</div>
{% endblock %}
