{% extends 'template-page.html.twig' %}


{% block title %}Hello VitrineController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>GALERIE</h1>

    <section>
        <h3>liste des articles categorie="galerie"</h3>
        <div class="listeGalerie">
        {% for article in articles %}
            <article>
                <div>(id={{ article.id }})</div>
                <h3>{{ article.nom }}</h3>
                <div>{{ article.description }}</div>
                <div>{{ article.prix }}</div>

                <div>{{ article.imagesrc1 }}</div>
                <div>{{ article.imageSrc2 }}</div>
                <div>{{ article.imageSrc3 }}</div>

                <figure><img src="{{ article.imageSrc1 }}"></figure>



            </article>
        {% else %}
            <article>
                <h3>aucun article trouvé</h3>
            </article>
        {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
