{% extends 'template-page.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

    <h1>Nos produits</h1>

{# Code pour afficher les différents articles #}
        {% for article in articles %}
            <section>
                <div>{{ article.nom }}</div>
                <div>{{ article.description }}</div>
                <div>{{ article.prix }}</div>

                <div>{{ article.imagesrc1 }}</div>
                <div>{{ article.imageSrc2 }}</div>
                <div>{{ article.imageSrc3 }}</div>

                <figure><img src="{{ article.imageSrc1 }}"></figure>
            </section>
        {% else %}
            <section>
                <h3>Aucun article trouvé</h3>
            </section>
        {% endfor %}

{% endblock %}
