{% extends 'template-page.html.twig' %}

{% block title %}Articles{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/style-article.css') }}">{% endblock %}

{% block body %}

    <h3>Nos produits</h3>

{# Code pour afficher les différents articles #}

    <div class="row">
        {% for article in articles %} 
        <div class="col-6 article container">
            <section class="cadre-article">
            <a href="{{ path('template_article', {'id': article.id}) }}">
                <h4 class="font-weight-bolder">{{ article.nom }}</h4>
                <p class="slogan">{{ article.slogan }}</p>
                <div class="d-flex flex-row">
                    <div class="container">
                        <img src="{{ article.imageSrc1 }}">
                    </div>
                    <div class="container">    
                        <p class="descript">{{ article.description }}</p>
                        <p class="ingred">Ingrédients : {{ article.ingredients }}</p>
                    </div>   
                </div> 
            </a>         
            </section>
        </div>
        {% endfor %}
    </div>

{% endblock %}
