{% extends 'template-page.html.twig' %}

{% block title %}Evènements{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/style-event.css') }}">{% endblock %}

{% block body %}

{% set idEvent = 1 %}

<h3>Evènements à venir:</h3>

{# Code pour afficher les évènements à venir #}
{% for event in events %}
    {% if event.category == 'A_VENIR' %}
        {% if idEvent%2 == 1 %}
            <section class="d-flex justify-content-center">
                <br><br>
                <div class="container">
                    <img src="{{event.imageSrc}}" class="img-left-event">
                </div>
                <div class="container cadre-event-right">
                    <h4>{{event.titre}}</h4>
                    <hr>
                    <p>{{event.content}}</p>
                    <p>{{event.description}}</p>
                    <p class="date_event-left font-weight-bolder">{{event.dateEvent}}</p>
                    <p class="font-weight-bold">Adresse : {{event.adress}}</p>       
                </div>
            </section>
            {% set idEvent = idEvent + 1 %}
            <br><br><br>
        {% else %}
            <section class="d-flex justify-content-center">
                <div class="container cadre-event-left">
                    <h4>{{event.titre}}</h4>
                    <hr>
                    <p>{{event.content}}</p>
                    <p>{{event.description}}</p>
                    <p class="date_event-right font-weight-bolder">{{event.dateEvent}}</p>
                    <p class="font-weight-bold">Adresse : {{event.adress}}</p>
                </div>
                <div class="container">
                    <img src="{{event.imageSrc}}" class="img-right-event">
                </div>
            </section>
            {% set idEvent = idEvent + 1 %}
            <br><br><br>
        {% endif %}
    {% else %}
    {% endif %}
{% endfor %}


<h3>Evènements passés:</h3>

{# Code pour afficher les évènements passés #}
{% for event in events %}
    {% if event.category == 'E_PASSE' %}
        {% if idEvent%2 == 1 %}
            <section class="d-flex justify-content-center">
                <br><br>
                <div class="container">
                    <img src="{{event.imageSrc}}" class="img-left-event">
                </div>
                <div class="container cadre-event-right">
                    <h4>{{event.titre}}</h4>
                    <hr>
                    <p>{{event.content}}</p>
                    <p>{{event.description}}</p>
                    <p class="date_event-left font-weight-bolder">{{event.dateEvent}}</p>
                    <p class="font-weight-bold">Adresse : {{event.adress}}</p>       
                </div>
            </section>
            {% set idEvent = idEvent + 1 %}
            <br><br><br>
        {% else %}
            <section class="d-flex justify-content-center">
                <div class="container cadre-event-left">
                    <h4>{{event.titre}}</h4>
                    <hr>
                    <p>{{event.content}}</p>
                    <p>{{event.description}}</p>
                    <p class="date_event-right font-weight-bolder">{{event.dateEvent}}</p>
                    <p class="font-weight-bold">Adresse : {{event.adress}}</p>
                </div>
                <div class="container">
                    <img src="{{event.imageSrc}}" class="img-right-event">
                </div>
            </section>
            {% set idEvent = idEvent + 1 %}
            <br><br><br>
        {% endif %}
    {% else %}
    {% endif %}
{% endfor %}

<br><br>

{% endblock %}