{% extends 'template-page.html.twig' %}

{% block title %}Fournisseurs{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/style-fournisseur.css') }}">
{% endblock %}

{% block body %}
    <h1 class="centrage_fournisseurs">Nos fournisseurs</h1>

{# Code pour afficher les fournisseurs #}
    <div class="container marge_gauche">
        <div class="row">
            {% for fournisseur in fournisseurs %}

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 marge"> 
                
                    <section>
                        <div>
                            (id={{ fournisseur.id }})
                        </div>
                        <h3>{{ fournisseur.nom }}</h3>

                        <figure class="taille">

                            <img class="image" src="{{fournisseur.imageSrc}}">
                            <p class="cache2">{{ fournisseur.content }}</p>                

                        </figure>

                        <div>
                            {{ fournisseur.datePublication ? fournisseur.datePublication|date('Y-m-d H:i:s') : '' }}
                        </div>                
                    </section>
                </div>

                {% else %}
                <div class="col-lg-6 col-md-6 marge" 
                    <section>
                        <h3>Aucun fournisseur trouvé</h3>
                    </section>
                </div>
            {% endfor %}
        </div>
    </div>

{% block javascripts %}

<!--<script src="{{asset('assets/js/script-fournisseur.js') }}"></script>-->
{% endblock %}

{% endblock %}
