{% extends 'template-page.html.twig' %}

{% block title %}Fournisseurs{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/style-fournisseur.css') }}">
{% endblock %}

{% block body %}
    <h1>Fournisseurs</h1>

{# Code pour afficher les fournisseurs #}
        {% for fournisseur in fournisseurs %}
            <section>
                <div>
                    (id={{ fournisseur.id }})
                </div>
                <h3>{{ fournisseur.nom }}</h3>

                <figure class="row justify-content-center">
                    <div class="col-lg-6 col-md-6">
                        <img class="fournisseur col-lg-6 col-md-6" src="{{fournisseur.imageSrc}}">
                    </div>
                    <div id="cache" class="col-lg-6 col-md-6">
                        <p>{{ fournisseur.content }}</p>
                    </div>
                </figure>
                <div>
                    {{ fournisseur.datePublication ? fournisseur.datePublication|date('Y-m-d H:i:s') : '' }}
                </div>                
            </section>
        {% else %}
            <section>
                <h3>Aucun fournisseur trouvé</h3>
            </section>
        {% endfor %}

{% block javascripts %}

<script src="{{asset('assets/js/script-fournisseur.js') }}"></script>
{% endblock %}

{% endblock %}
