{% extends 'template-index.html.twig' %}

{% block title %}SKOBI{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="{{asset('assets/css/style-index.css') }}">{% endblock %}


{% block body %}
<div class="container-fluid">
    <section class="partie-1">
    <h2 class="text-center">Nos Produits</h2>
       
    <marquee>
        <div class="d-flex flex-row">
        {% for article in articles %} 
        <a href="{{ path('template_article', {'id': article.id}) }}">
            <section class="cadre-article">
                    <h4 class="font-weight-bolder text-center">{{ article.nom }}</h4>
                    <p class="text-center">{{ article.slogan }}</p>
                    <div class="d-flex flex-row">
                        <div class="container">
                            <img src="{{ article.imageSrc1 }}">
                        </div>
                        <div class="container">    
                            <p class="descript">{{ article.description }}</p>
                            <p class="ingred"><span>Ingrédients : </span>{{ article.ingredients }}</p>
                        </div>   
                    </div>         
            </section>
        </a> 
        {% endfor %}
        </div>
    </marquee>

    </section>

    <section class="partie-2">
        <h2 class="text-center">Nos Engagements</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                    <img class="img-fluid image" src="assets/img/noun_vegan_446668.png" alt="image bio" >
                    <div class="encadre">
                        <h3 class="text-center">bio</h3>
                        <p class="engagement">Tous les produits que nous travaillons sont d’origine biologiques. TOUS ! Nous veillons ainsi à garantir et à respecter une alimentation bonne pour la santé de l’homme mais aussi bonne pour la planète. Ainsi, faire le choix de manger bio, c'est limiter l'ingestion de pesticides nocifs pour l'organisme et la santé.
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                    <img class="img-fluid image" src="assets/img/noun_Location_2532263.png" alt="local" >
                    <div class="encadre">
                        <h3 class="text-center">local</h3>
                        <p class="engagement">Tous les légumes que nous utilisons proviennent de producteurs résidant dans la même région que nous. Nous tenons ainsi à nourrir une relation privilégiant avant tout le côté humain qui réside dans leur travail et aussi à revaloriser leur métier. Nous tenons enfin à leur fournir une rémunération au juste prix, leur permettant d’avoir une exploitation pérenne et durable.
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                    <img class="img-fluid image" src="assets/img/noun_Healthy Food_42652.png" alt="sante" >
                    <div class="encadre">
                        <h3 class="text-center">sain</h3>
                        <p class="engagement">Chaque sauce contient au moins un ingrédient fermenté. Ainsi, nous veillons à ce qu’en plus des bienfaits propres aux légumes, tous les bienfaits de la fermentation puissent être exploités et retrouvés dans nos sauces afin d’avoir des légumes enrichis en vitamines et en micro-organismes bons pour notre microbiote.</p>  
                    </div> 
                </div>
                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-3">
                    <img class="img-fluid image" src="assets/img/noun_vegan_446668.png" alt="gourmand" >
                    <div class="encadre encadre4">
                        <h3 class="text-center">gourmand</h3>
                        <p class="engagement">Toutes nos recettes sont élaborées par un chef qui est passé par des cuisines étoilées. Il s’assure que chaque sauce soit unique et savoureuse, et qu’elle puisse trouver preneur parmi n’importe quel convive à votre apéro ! Une bonne nouvelle pour les gourmands qui pourront profiter des superbes recettes élaborées par nos soins.</p>
                    </div>
                </div>
            </div>
    </section>

    <section class="partie-3">
        <h2 class="text-center">Evènements</h2>
            <div class="row">
                <div class="col-6">
                    <img class="" src="" alt="" >
                    <h3></h3>
                    <p></p>
                    </div>
                <div class="col-6">
                    <img class="" src="" alt="" >
                    <h3></h3>
                    <p></p>
                </div>
                <div class="col-6">
                    <img class="" src="" alt="" >
                    <h3></h3>
                    <p></p>
                </div>
        </div>
            


            </div>
    </section>
<!--
     <section class="partie-4">
        <h2 class="text-center">A propos</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <img class="rounded-circle" src="assets/img/photo6.jpg" alt="cuisinier" >
                    <p class="apropos">Julien a 23 ans et il est cuisinier de formation. C’est lui qui est chargé d’élaborer les recettes si bonnes de nos sauces. Vous pouvez compter sur lui pour qu’elles soient délicieuses car il a travaillé dans de nombreux établissements étoilés !</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <img class="rounded-circle" src="assets/img/photo7.jpg" alt="manager" >
                    <p class="apropos">David a 24 ans et poursuit des études en management après un parcours académique scientifique. Il est en charge de la gestion administrative, stratégique et financière de Skobi.</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <img class="rounded-circle" src="assets/img/photo8.jpg" alt="valeurs" >
                    <p class="apropos">La fusion de leurs idées, de leurs convictions, de leurs valeurs et de leurs forces leur permet aujourd’hui d’assumer pleinement le projet dont ils sont porteurs. Ils croient en une alimentation durable, respectueuse de son environnement mais également à la revalorisation de tous les acteurs qui permettent la production de leurs sauces. </p>
                </div>
            </div>          
    </section>
     --> 
    <section class="partie-5">
        <h2 class="text-center contact">Contact</h2>
            <p class="text">Retrouvez-nous sur Facebook et Instagram : @skobifermenterie où vous pourrez suivre nos aventures grâce au hashtag #skobipourlavie</p>
            <div class="row contact_row">
                <div class="col">
                    <img class="img-fluid" src="assets/img/photophone.png" alt="image du telephone" >
                    <p class="numero">06.75.64.64.57</p>
                </div>
                <div class="col">
                    <a href="{{ path('contact') }}"><img class="img-fluid"  src="assets/img/mailphoto.png" alt="image du mail"></a>
                    <p class="contact">contact@skobi.fr</p>
                </div>
                <div class="col">
                    <img class="img-fluid" src="assets/img/facebookphoto.png" alt="image de l'adresse" >
                    <p class="contact"><a class="lien" href="https://www.facebook.com/skobi.fermenterie/" target="blank">@skobi</a></p>
                </div>   
            </div>
    </section>






</div>



   
{% endblock %}
