{% extends 'template-page.html.twig' %}

{% block title %}{{ article.nom }}{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/style-template-article.css') }}">{% endblock %}

{% block body %}

        <h3>{{ article.nom }}</h3>

        <h4>{{ article.slogan }}</h4>

        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-4">
                <img src="{{ article.imageSrc1 }}">
            </div>
            <div class="col-4 d-flex flex-column">
                <p class="descript">{{ article.description }}</p>
                <p class="ingred">Ingrédients : {{ article.ingredients }}</p>
                <p class="vitam">Apports nutritionnels : </p>
            </div>
        </div>

{% endblock %}