{% extends 'template-page.html.twig' %}

{% block title %}{{ article.nom }}{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/style-template-article.css') }}">{% endblock %}

{% block body %}

        <h3>{{ article.nom }}</h3>

        <h4>{{ article.slogan }}</h4>

        <section class="cadre-article">
           
                <h4 class="font-weight-bolder">{{ article.nom }}</h4>
                <p class="slogan">{{ article.slogan }}</p>
                <div class="d-flex flex-row">
                    <div class="container">
                        <img src="{{ article.imageSrc1 }}">
                    </div>
                    <div class="container">    
                        <p class="descript">{{ article.description }}</p>
                        <p class="ingred">Ingrédients : {{ article.ingredients }}</p>
                    </div>   
                </div> 
                  
        </section>

{% endblock %}