<div class="d-flex justify-content-center">
    {{ form_start(form) }}
    {{ form_row(form.username, { 'label': 'Nom' }) }}
    {{ form_row(form.email) }}
    {{ form_row(form.content, { 'label': 'Message' }) }}

    <div>
        {{ messageFeedback ?? "" }}
    </div>
    {{ form_end(form) }}
</div>

