{% extends 'template-admin.html.twig' %}

{% block title %}Index messages{% endblock %}

{% block body %}

<br><br>

<div class="d-flex justify-content-center">
    <h1>Index messages</h1>
</div>

    <br><br>

<div class="container d-flex justify-content-center">
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Nom expéditeur</th>
                <th>Email</th>
                <th>Contenu message</th>
                <th>Date message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.username }}</td>
                <td>{{ message.email }}</td>
                <td>{{ message.content }}</td>
                <td>{{ message.dateMessage ? message.dateMessage|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <button type="button" class="btn btn-secondary"><a href="{{ path('message_show', {'id': message.id}) }}" class="text-light">Voir</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun message enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
