{% extends 'template-admin.html.twig' %}

{% block title %}Index messages{% endblock %}

{% block body %}

<br><br>

<div class="d-flex justify-content-center">
    <h1>Index messages</h1>
</div>

    <br><br>

<div class="container">
    <button id="help-button" type="button" class="btn btn-secondary"><p id="help">Besoin d'aide ?</p></button>    
</div>

<div class="container menu-help">
    <br><br>
    <p>Utilisation:</p>
    <p>Sur cette page vous retrouvez les messages envoyés par les utilisateurs via le formulaire de contact du site.<br>
    La colonne "Nom expéditeur" indique le nom d'utilisateur choisi par l'expéditeur du message.<br>
    La colonne "Email" indique l'adresse email de l'expéditeur du message.<br>
    La colonne "Contenu message" indique le contenu du message.<br>
    La colonne "Date Message" indique la date et l'heure auxquelles le message a été expédié.</p>
    <p>Le bouton "Voir" dans la colonne "actions" permet d'afficher sur la page uniquement le message choisi.<br>
    Le bouton "Supprimer dans la colonne "actions" permet de supprimer du tableau le message correspondant.<br>
    Attention ! Cette manipulation est irréversible, le message sera définitivement perdu.</p>
</div>

    <br><br>

<div class=" d-flex justify-content-center">
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>Nom expéditeur</th>
                <th>Email</th>
                <th>Contenu message</th>
                <th>Date message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.username }}</td>
                <td>{{ message.email }}</td>
                <td>{{ message.content }}</td>
                <td>{{ message.dateMessage ? message.dateMessage|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    <button type="button" class="btn btn-secondary"><a href="{{ path('message_show', {'id': message.id}) }}" class="text-light">Voir</a></button>
                    <hr>
                   {{ include('message/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun message enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
