<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin="" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{asset('assets/css/style-page.css') }}">
        {% block stylesheets %}{% endblock %}

        
    </head>
    <body>
        <header> 
            <div class="menu-principal">  
                <nav id="navlog" class="d-flex justify-content-end">
                {% if app.user %}  
                    {% if app.user.role == 'ROLE_ADMIN' %}
                    <div class="connect-button">     
                        <a href="{{ path('article_index') }}">Bienvenue {{ app.user.username }} !</a>
                    </div>
                    <div class="subscribe-button">
                        <a href="{{ path('logout') }}">Se déconnecter</a>
                    </div>
                    {% else %}
                    <div class="connect-button">     
                        <a href="{{ path('profil') }}">Bienvenue {{ app.user.username }} !</a>
                    </div>
                    <div class="subscribe-button">
                        <a href="{{ path('logout') }}">Se déconnecter</a>
                    </div>
                    {% endif %}
                {% else %}
                    <div class="connect-button">
                        <a href="{{ path('login') }}">Se connecter</a>
                    </div>
                    <div class="subscribe-button">
                        <a href="{{ path('subscribe') }}">S'inscrire</a>
                    </div>
                {% endif %}
                </nav>

                <div class="d-flex flex-row justify-content-center">
                    <a href="{{ path('index') }}"><img src="{{ asset('assets/img/logo_skobi.png')}}" class="logo"></a>
                
                    <nav id="navbar">                  
                        <a href="{{ path('article') }}">Nos produits</a>
                        <a href="{{ path('fournisseur') }}">Nos fournisseurs</a>
                        <a href="{{ path('event') }}">Evènements</a>
                        <a href="{{ path('about') }}">A propos</a>                  
                        <a href="{{ path('contact') }}">Contact</a>
                    </nav>
                </div>
            </div>

            <div class="menu-scroll fixed-top">  
                <nav id="navlog" class="d-flex justify-content-end">
                {% if app.user %}  
                    {% if app.user.role == 'ROLE_ADMIN' %}
                    <div class="connect-button">     
                        <a href="{{ path('article_index') }}">Bienvenue {{ app.user.username }} !</a>
                    </div>
                    <div class="subscribe-button">
                        <a href="{{ path('logout') }}">Se déconnecter</a>
                    </div>
                    {% else %}
                    <div class="connect-button">     
                        <a href="#">Bienvenue {{ app.user.username }} !</a>
                    </div>
                    <div class="subscribe-button">
                        <a href="{{ path('logout') }}">Se déconnecter</a>
                    </div>
                    {% endif %}
                {% else %}
                    <div class="connect-button">
                        <a href="{{ path('login') }}">Se connecter</a>
                    </div>
                    <div class="subscribe-button">
                        <a href="{{ path('subscribe') }}">S'inscrire</a>
                    </div>
                {% endif %}
                </nav>

                <div class="d-flex flex-row justify-content-center">
                    <a href="{{ path('index') }}"><img src="{{ asset('assets/img/logo_skobi.png')}}" class="logo"></a>
                
                    <nav id="navbar">                  
                        <a href="{{ path('article') }}">Nos produits</a>
                        <a href="{{ path('fournisseur') }}">Nos fournisseurs</a>
                        <a href="{{ path('event') }}">Evènements</a>
                        <a href="{{ path('about') }}">A propos</a>                  
                        <a href="{{ path('contact') }}">Contact</a>
                    </nav>
                </div>
            </div>
        
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <nav class="d-flex justify-content-center" >
                <a href="https://www.facebook.com/skobi.fermenterie/"><img src="{{ asset('assets/img/facebook.png') }}"></a>
                <a href="#"><img src="{{ asset('assets/img/instagram.png') }}"></a>
                <a href="#"><img src="{{ asset('assets/img/Twitter.png') }}"></a>
            </nav>
            <p><a href="#" class="d-flex justify-content-center text-light">@Conditions d'utilisation</a><p>
        </footer>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        {% block javascripts %}{% endblock %}
        <script src="{{asset('assets/js/script-nav.js') }}"></script>
        <script src="{{asset('assets/js/script-map.js') }}"></script>
    </body>
</html>