<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="{{asset('assets/css/style-index.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Ruge+Boogie&display=swap" rel="stylesheet">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    
        <header>
            <nav>
                <ul>  
                
                    <li><a href="{{ path('article') }}">NOS PRODUITS</a></li>
                    <li><a href="{{ path('fournisseur') }}">NOS FOURNISSEURS</a></li>
                    <li> <figure class="logo"><a href="{{ path('index') }}"><img src="{{ asset('assets/img/logo.png') }}"></a></figure> </li>
                    <li><a href="{{ path('event') }}">EVENEMENTS</a></li>
                    <li><a href="{{ path('about') }}">A PROPOS</a></li>
                    {% if app.user %}        
                    <li> {{ app.user.username }}</li>
                    <li><a href="{{ path('logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ path('login') }}">Se connecter</a> - <a href="{{ path('subscribe') }}">S'inscrire</a></li>
                    {% endif %}
                </ul>
            </nav>

    {% if app.user %}
        {% if app.user.role == 'ROLE_ADMIN' %}
            <nav>
                <ul>
                    <li><a href="{{ path('article_index') }}">Admin Article</a></li>
                    <li><a href="{{ path('event_index') }}">Admin Event</a></li>
                    <li><a href="{{ path('fournisseur_index') }}">Admin Fournisseur</a></li>
                    <li><a href="{{ path('message_index') }}">Admin Message</a></li>
                    <li><a href="{{ path('user_index') }}">Admin User</a></li>
                </ul>
            </nav>
        {% endif %}
    {% endif %}
        <h1> SKOBI </h1>
        <p class="p1"> Miam, miam vous allez vous regalez avec SKOBI </p>
        <p class="p2"> N'attendez plus passez vos commandes !!! </p>

        </header>

        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>