<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{asset('assets/css/style-page.css') }}">
        <link rel="stylesheet" href="{{asset('assets/css/about.css') }}">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>

            <div class="connect">
        {% if app.user %}        
                <ul class="list-unstyled d-flex flex-row justify-content-end">
                    <li> {{ app.user.username }}</li>
                    <li><a href="{{ path('logout') }}">Logout</a></li>
                </ul>
        {% else %}
                <ul class="list-unstyled d-flex flex-row justify-content-end">
                    <li><a href="{{ path('login') }}">Se connecter - </a></li> 
                    <li><a href="{{ path('subscribe') }}">S'inscrire</a></li>
                </ul>
        {% endif %}
            </div>

            <div>
                <nav>
                    <ul class="list-unstyled d-flex flex-row justify-content-center">
                        <li><a href="{{ path('article') }}">Nos produits</a></li>
                        <li><a href="{{ path('fournisseur') }}">Nos fournisseurs</a></li>
                        <li><a href="{{ path('fournisseur') }}">Nos recettes</a></li>
                        <li><a href="{{ path('index') }}"><img src="{{ asset('assets/img/logo_skobi.jpg')}}" class="logo"></a></li>
                        <li><a href="{{ path('event') }}">Evènements</a></li>
                        <li><a href="{{ path('about') }}">A propos</a></li>                   
                        <li><a href="{{ path('contact') }}">Contactez-nous</a></li>
                    </ul>
                </nav>
            </div>

        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <ul class="d-flex justify-content-center list-unstyled" >
                <li><a href="#" class="facebook"><img src="{{ asset('assets/img/facebook.png') }}"></a></li>
                <li><a href="#"><img src="{{ asset('assets/img/Twitter.png') }}"></a></li>
            </ul>

            <a id="white" href="#" class="d-flex justify-content-center text-light"> @Conditions d'utilisation</a> 
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>