<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="{{asset('assets/css/style-admin.css') }}">

        {% block stylesheets %}{% endblock %}
    </head>
    
    <body>
        <header>

            <h1 class="font-weight-bolder text-center">SKOBI</h1>
            <h2 class="text-center">Gestion Administrateur</h2>

            <hr>

            <ul class="list-unstyled d-flex justify-content-end list-logout list-group list-group-horizontal">
                <li class="font-italic list-group-item">Bienvenue {{ app.user.username }} !</li>
                <li class="list-group-item"><a href="{{ path('logout') }}" id="id-logout">Se déconnecter</a></li>
            </ul>

    {% if app.user %}
        {% if app.user.role == 'ROLE_ADMIN' %}
            <nav>
                <ul class="list-unstyled d-flex flex-row justify-content-around">
                    <li><a href="{{ path('index') }}" class="font-weight-bolder"><img src="{{ asset('assets/img/logo-back-index.png') }}" width="30px"><span>Retour au site</span></a></li>
                    <li><a href="{{ path('message_index') }}" class="font-weight-bolder">Messages</a></li>
                    <li><a href="{{ path('user_index') }}" class="font-weight-bolder">Utilisateurs</a></li>
                    <li><a href="{{ path('event_index') }}" class="font-weight-bolder">Evenements</a></li>
                    <li><a href="{{ path('article_index') }}" class="font-weight-bolder">Produits</a></li>                   
                    <li><a href="{{ path('fournisseur_index') }}" class="font-weight-bolder">Fournisseurs</a></li>
                    <li><a href="{{ path('vitamine_index') }}" class="font-weight-bolder">Apports nutritionnels</a></li>
                                    
                </ul>
            </nav>
        {% endif %}
    {% endif %}

     <br>
    <hr>

        </header>
            
        <main>
            {% block body %}{% endblock %}
        </main>

        <br>
        <br>
        <br>
        <hr>
        <br>

        <footer>

            <div class="d-flex justify-content-center">
                <a href="#"><img src="{{ asset('assets/img/logo-back-index.png') }}" width="30px"><span>Retour au site</span></a>
            </div>
            

            
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        {% block javascripts %}{% endblock %}
        <script src="{{asset('assets/js/script-admin.js') }}"></script>
    </body>
</html>