{% extends 'template-admin.html.twig' %}

{% block title %}Index fournisseur{% endblock %}

{% block body %}

<br><br>

<div class="d-flex justify-content-center">
    <h1>Index fournisseurs</h1>
</div>

    <br><br>

<div class="container">
    <button id="help-button" type="button" class="btn btn-secondary"><p id="help">Besoin d'aide ?</p></button>    
</div>

<div class="container menu-help">
    <br><br>
    <p>Utilisation:</p>
    <p>Sur cette page vous retrouvez la liste des fournisseurs présents sur le site.<br>
    La colonne "Nom fournisseur" indique le nom du fournisseur.<br>
    La colonne "Description fournisseur" indique le texte de présentation lié au fournisseur et qui apparait au passage de la souris<br>
    sur la photo du fournisseur dans la section "Fournisseur" du site.<br>
    La colonne "Image" affiche l'image associée au fournisseur.<br>
    
    <p>Le bouton "Voir" dans la colonne "actions" permet d'afficher sur la page uniquement les informations liées au fournisseur choisi.<br>
    Le bouton "Modifier" dans la colonne "actions" permet d'accéder à un formulaire de modification des différentes informations liées au <br>
    fournisseur correspondant. <br>
    Le bouton "Supprimer dans la colonne "actions" permet de supprimer du tableau le fournisseur correspondant.<br>
    Attention ! Cette manipulation est irréversible, le fournisseur sera définitivement perdu, et n'apparaitra plus sur le site. Si vous souhaitez<br>
    qu'il apparaisse à nouveau, il faudra le rentrer manuellement dans la base de données via le bouton "Créer nouveau".<br>
    Le bouton "Créer nouveau" en bas de cette page permet d'accéder à un formulaire de création d'un nouvel fournisseur, sur lequel il vous sera <Br>
    demandé de rentrer les informations liées à ce fournisseur. Une fois créé, le fournisseur apparaitra sur le site dans la section "Fournisseur".</p>
</div>

    <br><br>

<div class="d-flex justify-content-center">
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>Nom fournisseur</th>
                <th>Description fournisseur</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fournisseur in fournisseurs %}
            <tr>
                <td class="font-weight-bold">{{ fournisseur.nom }}</td>
                <td>{{ fournisseur.content }}</td>
                <td id="img-fournisseur"><img src="{{ asset(fournisseur.imageSrc) }}" class="img-fluid"></td>
                <td>
                    <button type="button" class="btn btn-secondary"><a href="{{ path('fournisseur_show', {'id': fournisseur.id}) }}" class="text-light">Voir</a></button>
                    <hr>
                    <button type="button" class="btn btn-secondary"><a href="{{ path('fournisseur_edit', {'id': fournisseur.id}) }}" class="text-light">Modifier</a></button>
                    <hr>
                    {{ include('fournisseur/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun fournisseur enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-secondary"><a href="{{ path('fournisseur_new') }}" class="text-light">Créer nouveau</a></button>
</div>
{% endblock %}
