{% extends 'template-admin.html.twig' %}

{% block title %}Index fournisseur{% endblock %}

{% block body %}

<br><br>

<div class="d-flex justify-content-center">
    <h1>Index fournisseurs</h1>
</div>

    <br><br>

<div class="container d-flex justify-content-center">
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Nom fournisseur</th>
                <th>Description fournisseur</th>
                <th>Source Image</th>
                <th>DatePublication</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fournisseur in fournisseurs %}
            <tr>
                <td>{{ fournisseur.id }}</td>
                <td>{{ fournisseur.nom }}</td>
                <td>{{ fournisseur.content }}</td>
                <td>{{ fournisseur.imageSrc }}</td>
                <td>{{ fournisseur.datePublication ? fournisseur.datePublication|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    <button type="button" class="btn btn-secondary"><a href="{{ path('fournisseur_show', {'id': fournisseur.id}) }}" class="text-light">Voir</a></button>
                    <hr>
                    <button type="button" class="btn btn-secondary"><a href="{{ path('fournisseur_edit', {'id': fournisseur.id}) }}" class="text-light">Modifier</a></button>
                    <hr>
                    {{ include('fournisseur/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun fournisseur enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-secondary"><a href="{{ path('fournisseur_new') }}" class="text-light">Créer nouveau</a></button>
</div>
{% endblock %}
