{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex justify-content-center">
    <button class="btn btn-secondary">{{ button_label|default('Sauvegarder') }}</button>
    <button type="button" class="btn btn-secondary"><a href="{{ path('article_index') }}" class="text-light">Retour à l'index</a></button>
</div>

    <div>
        {{ articleFeedback ?? "" }}
    </div>
{{ form_end(form) }}
