{% extends 'template-admin.html.twig' %}

{% block title %}Profil produit{% endblock %}

{% block body %}
<br><br>

<div class="d-flex justify-content-center">
    <h1>Profil produit</h1>
</div>

    <br><br>

<div class="container d-flex justify-content-center">
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th class="bg-secondary text-white">Nom produit</th>
                <td>{{ article.nom }}</td>
            </tr>
            <tr>
                <th class="bg-secondary text-white">Sous-titre</th>
                <td>{{ article.slogan }}</td>
            </tr>
            <tr>
                <th class="bg-secondary text-white">Description</th>
                <td>{{ article.description }}</td>
            </tr>
            <tr>
                <th class="bg-secondary text-white">Ingrédients</th>
                <td>{{ article.ingredients }}</td>
            </tr>
            <tr>
                <th class="bg-secondary text-white">Prix</th>
                <td>{{ article.prix }}</td>
            </tr>
            <tr>
                <th class="bg-secondary text-white">Source image 1</th>
                <td><img src="{{ article.imageSrc1 }}"></td>
            </tr>
            <tr>
                <th class="bg-secondary text-white">Source image 2</th>
                <td><img src="{{ article.imageSrc2 }}"></td>
            </tr>
            <tr>
                <th class="bg-secondary text-white">Source image 3</th>
                <td><img src="{{ article.imageSrc3 }}"></td>
            </tr>
            <tr>
                <th class="bg-secondary text-white">Apports nutritionnels</th>
                <td>
                    {% for vitamine in article.vitamines %}
                            <div>{{ vitamine.nom }}</div>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-secondary"><a href="{{ path('article_index') }}" class="text-light">Retour à l'index</a></button>
 
    <button type="button" class="btn btn-secondary"><a href="{{ path('article_edit', {'id': article.id}) }}" class="text-light">Modifier</a></button>

    {{ include('article/_delete_form.html.twig') }}
</div>
{% endblock %}
