{% extends 'template-admin.html.twig' %}

{% block title %}Index utilisateurs{% endblock %}

{% block body %}

<br><br>

<div class="d-flex justify-content-center">
    <h1>Index utilisateurs</h1>
</div>

    <br><br>

<div class="container">
    <button id="help-button" type="button" class="btn btn-secondary"><p id="help">Besoin d'aide ?</p></button>    
</div>

<div class="container">
    <p>Besoin d'aide ?</p>
</div>

<div class="container menu-help">
    <br><br>
    <p>Utilisation:</p>
    <p>Sur cette page vous retrouvez la totalité des comptes utilisateurs enregistrés sur le site.<br>
    La colonne "Nom d'urilisateur" indique le nom d'utilisateur choisi par le propriétaire du compte.<br>
    La colonne "Email" indique l'adresse email de l'utilisateur.<br>
    Les colonnes "Nom", "Prénom", "Adresse" et "Telephone indiquent respectivement le nom, le prénom, l'adresse <br>
    et le numéro de téléphone de l'utilisateur. Ces champs sont optionnels.<br>
    La colonne "Date Inscription" indique la date et l'heure auxquelles l'utilisateur s'est inscrit sur le site.<br>
    La colonne "Role" indique le niveau d'accès dont bénéficie l'utilisateur. La valeur "ROLE_ADMIN" autorise<br>
    l'utilisateur à accéder à la section Administration du site et donc à la modification du contenu du site.<br>
    La valeur "ROLE_MEMBRE" est la valeur par défaut attribuée lors de la création d'un compte.</p>
    <p>Le bouton "Voir" dans la colonne "actions" permet d'afficher sur la page uniquement les informations liées à l'utilisateur choisi.<br>
    Le bouton "Modifier" dans la colonne "actions" permet d'accéder à un formulaire de modification des différentes informations liées au <br>
    compte utilisateur correspondant. A noter qu'il est également possible d'y modifier le mot de passe lié à ce compte.<br>
    Le bouton "Supprimer dans la colonne "actions" permet de supprimer du tableau l'utilisateur correspondant.<br>
    Attention ! Cette manipulation est irréversible, le compte utilisateur sera définitivement perdu.</br>
    Le bouton "Créer nouveau" en bas de cette page permet d'accéder à un formulaire de création d'un nouvel utilisateur, sur lequel il vous sera <Br>
    demandé de rentrer les informations liées à cet utilisateur, notamment le rôle.</p>
</div>

    <br><br>

<div class="d-flex justify-content-center">
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Email</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Role</th>
                <th>Date Inscription</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.dateInscription ? user.dateInscription|date('d-m-Y H:i') : '' }}</td>
                <td>
                   <button type="button" class="btn btn-secondary"><a href="{{ path('user_show', {'id': user.id}) }}" class="text-light">Voir</a></button>
                   <hr>
                   <button type="button" class="btn btn-secondary"><a href="{{ path('user_edit', {'id': user.id}) }}" class="text-light">Modifier</a></button>
                   <hr>
                   {{ include('user/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucun utilisateur enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 </div>

<div class="d-flex justify-content-center">
 <button type="button" class="btn btn-secondary"><a href="{{ path('user_new') }}" class="text-light">Créer nouveau</a></button>
 </div>

{% endblock %}
